<%= link_to location_path(location), id: dom_id(location), class: "w-full flex flex-col justify-center items-start gap-2 border border-gray-200 rounded-xl p-4 transition hover:shadow-md cursor-pointer" do %>
  <div>
    <h3 class="font-bold text-md">
      <%= location.name %>
    </h3>
    <span class="text-sm">
      <%= location.address %>,
      <%= location.city %>,
      <%= location.state %>
      <%= location.zip %>
    </span>
  </div>
  <div class="flex gap-2 flex-wrap" onclick="event.stopPropagation()">
    <% if current_user %>
      <% is_favorited = @favorite_location_ids&.include?(location.id) || false %>
      <% if is_favorited %>
        <%= button_to "Remove From Favorites",
          unfavorite_location_path(location),
          method: :delete,
          class: "transition text-sm bg-gray-200 hover:bg-gray-300 text-gray-800 text-sm font-medium px-4 py-1.5 rounded-full text-nowrap" %>
      <% else %>
        <%= button_to "Add To Favorites",
          favorite_location_path(location),
          method: :post,
          class: "transition text-sm bg-blue-600 hover:bg-blue-700 text-white text-sm font-medium px-4 py-1.5 rounded-full text-nowrap" %>
      <% end %>
    <% end %>
  </div>
<% end %>
