<div id="<%= dom_id location %>" class="w-full sm:w-auto my-5 space-y-5">
  <div class="font-medium text-[24px] mb-1">
    <%= location.name %>
  </div>
  <div>
    <%= location.address %>,
    <%= location.city %>,
    <%= location.state %>
    <%= location.zip %>
  </div>
</div>
