<% content_for :title, "Showing location" %>

<% if notice.present? %>
  <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
<% end %>

<div class="w-full lg:px-[144px] md:px-[96px] px-[36px] py-8 [88px] flex flex-col gap-4">
  <% if @location.latitude && @location.longitude %>
    <div id="ofm-map"
     data-lat="<%= @location.latitude %>"
     data-lng="<%= @location.longitude %>"
     class="mt-4 h-0 w-full opacity-0 rounded-md border">
    </div>
  <% end %>

  <section class="flex md:flex-row flex-col justify-between md:items-center items-start gap-2">
    <h1 class="text-3xl font-bold"><%= @location.name %></h1>
    <!-- buttons for editing location and add image -->
    <div class="flex gap-2 grow-0">
      <%= link_to "Edit Location",
        edit_location_path(@location),
        class: "text-yellow-400 hover:text-white border border-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
      %>
      <a type="button" class="text-yellow-400 hover:text-white border border-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Add Photo</a>
    </div>
  </section>

  <!-- placeholder image gallery -->
  <section class="flex gap-4">
    <div class="w-[30%] h-[300px] bg-gray-300 rounded-lg shadow-md"></div>
    <div class="w-[30%] h-[300px] bg-gray-300 rounded-lg shadow-md"></div>
    <div class="w-[30%] h-[300px] bg-gray-300 rounded-lg shadow-md"></div>
  </section>

  <!-- placeholder chips, will add once features model is in place -->
  <section class="flex flex-row gap-2 flex-wrap">
    <span class="bg-blue-400 text-white text-sm font-medium px-4 py-1.5 rounded-full text-nowrap">Default</span>
    <span class="bg-blue-400 text-white text-sm font-medium px-4 py-1.5 rounded-full text-nowrap">Default</span>
    <span class="bg-blue-400 text-white text-sm font-medium px-4 py-1.5 rounded-full text-nowrap">Default</span>
  </section>
  
  <!-- divider line -->
  <hr class="h-px bg-gray-200 border-0">

  <!-- reviews -->
  <section class="flex flex-col gap-4">
    <div class="flex flex-row justify-between items-center">
      <h1 class="text-3xl font-bold"><%= pluralize(@location.reviews.count, 'Review') %></h1>
      <button type="button" class="h-[100%] text-yellow-400 hover:text-white border border-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Add Review</button>
    </div>
    
    <div class="flex flex-col items-stretch gap-4">
      <% if @reviews.any? %>
        <% @reviews.each do |review| %>
          <%= render review %>
      <% end %>
      <% else %>
        <p class="font-normal text-gray-700 italic">
          No reviews yet for this location.
        </p>
      <% end %>
    </div>
  </section>
</div>
